<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
<!--    <link href="{% static "css/blog.css" %}" rel="stylesheet">-->
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Django blog application</h2>
            <p>Hello world! This is my django blog app based fully on this framework! Have fun!</p>
    </div>
</body>
</html>