<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
<!--    <link href="{% static "css/blog.css" %}" rel="stylesheet">-->
</head>
<body>
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
    <div id="sidebar">
        <h2>Pasja szydełkowania</h2>
            <p>Witaj na moim blogu :) Nazywam się Patrycja i w wolnych chwilach zajmuję się dzierganiem!</p>
    </div>
</body>
</html>